.apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apropos-content {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        margin-top: 20px;
    }
}

