@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button {
  all: initial;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Monstserrat";
  src: url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
body {
  font-family: "Monstserrat", sans-serif;
  margin: 0 20px;
}

.banner {
  position: relative;
  max-width: 1240px;
  max-height: 225px;
  min-width: 340px;
  min-height: 115px;
  margin: 50px auto;
  border-radius: 25px;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  .banner {
    height: 115px;
    margin: 22px auto 0;
    border-radius: 10px;
  }
}
.banner img {
  width: 1240px;
  height: 225px;
  min-height: 115px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-filter {
  position: absolute;
  top: -1px;
  width: 1240px;
  height: 225px;
  border-radius: 25px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.35);
}
.banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 705px;
  font-size: 48px;
  z-index: 2;
}
@media screen and (max-width: 769px) {
  .banner {
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  .banner-filter {
    border-radius: 10px;
  }
  .banner p {
    font-size: 24px;
    margin-left: -35px;
    padding: 0;
    width: 225px;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 10px 10px 20px 20px;
  max-height: 54px;
}
.collapse-location {
  width: 50%;
  margin-bottom: 50px;
}
.collapse-apropos {
  width: 75%;
  margin-bottom: 25px;
}
.collapse-notshowing {
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}
.collapse-showing {
  max-height: 1000px !important;
  transition: max-height 1s ease-in-out;
}
@media screen and (max-width: 769px) {
  .collapse-location {
    width: 100%;
    max-height: 30px;
  }
  .collapse-apropos {
    width: 100%;
    max-height: 30px;
  }
  .collapse-notshowing {
    border-radius: 0 0 5px 5px;
  }
}

.collapse-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 15px;
  background-color: #FF6060;
  border-radius: 10px;
  z-index: 2;
}
.collapse-title-location {
  font-size: 18px;
}
.collapse-title-apropos {
  font-size: 24px;
}
@media screen and (max-width: 769px) {
  .collapse-title {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .collapse-title-location {
    font-size: 14px;
  }
  .collapse-title-location > img {
    width: 20px;
  }
  .collapse-title-apropos {
    font-size: 14px;
  }
  .collapse-title-apropos > img {
    width: 20px;
  }
}

.collapse-text {
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
  z-index: 1;
}
.collapse-text-location {
  padding: 25px 15px 40px;
}
.collapse-text-apropos {
  padding: 20px 15px 20px;
  color: #FF6060;
}
.collapse-text-notshowing {
  animation: slideUp ease 0.5s both;
}
.collapse-text-showing {
  animation: slideDown ease 0.5s both 0.2s;
}
@media screen and (max-width: 769px) {
  .collapse-text {
    font-size: 12px;
    line-height: 20px;
  }
  .collapse-text-location {
    padding: 10px 15px 15px;
    overflow: hidden;
  }
  .collapse-text-apropos {
    padding: 10px 15px 15px;
    overflow: hidden;
  }
}

.collapse-chevron-notshowing {
  transform: rotateZ(0deg);
  transition: 0.4s ease-in-out;
}
.collapse-chevron-showing {
  transform: rotateZ(-180deg);
  transition: 0.4s ease-in-out;
}

.carrousel {
  position: relative;
}
.carrousel .carrousel-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 1240px;
  max-height: 415px;
  min-width: 335px;
  min-height: 255px;
  border-radius: 25px;
  margin-top: 50px;
}
.carrousel .left-arrow {
  position: absolute;
  top: 45%;
  left: 25px;
}
.carrousel .right-arrow {
  position: absolute;
  top: 45%;
  right: 25px;
}
.carrousel .image-counter {
  position: absolute;
  color: white;
  font-size: 18px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 769px) {
  .carrousel .carrousel-image {
    border-radius: 10px;
    margin-top: 27px;
  }
  .carrousel .left-arrow {
    width: 18px;
    top: 50%;
    left: 10px;
  }
  .carrousel .right-arrow {
    width: 18px;
    top: 50%;
    right: 10px;
  }
  .carrousel .image-counter {
    display: none;
  }
}

.card-division {
  display: grid;
  max-width: 1240px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 50px;
  padding: 45px;
  margin: 45px auto;
  background-color: #F6F6F6;
  border-radius: 25px;
}
.card-division-item {
  display: flex;
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 769px) {
  .card-division {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    margin: 27px auto;
    background-color: transparent;
    padding: 0;
  }
}

.location-card {
  position: relative;
  max-width: 340px;
  max-height: 340px;
  border-radius: 25px;
  overflow: hidden;
}
.location-card img {
  position: relative;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.location-card .cardFilter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent 50%);
}
.location-card p {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 18px;
  padding: 20px 25px;
  z-index: 2;
}
@media screen and (max-width: 769px) {
  .location-card {
    max-height: 255px;
  }
}

.tags-card {
  color: white;
  font-size: 14px;
  padding: 3px 25px 2px;
  background: #FF6060;
  border-radius: 50px;
}
@media screen and (max-width: 769px) {
  .tags-card {
    border-radius: 5px;
    font-size: 10px;
    padding: 2px 15px;
  }
}

header {
  display: flex;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto 0px;
}
@media screen and (max-width: 769px) {
  header {
    margin: 20px auto 0px;
  }
  header > a {
    max-width: 145px;
    height: auto;
  }
}

nav a {
  font-size: 24px;
  font-weight: 500;
  color: #FF6060;
  margin-left: 60px;
}
nav a:hover {
  text-decoration: underline;
  color: #FF6060;
}
@media screen and (max-width: 769px) {
  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    font-size: 12px;
    margin-left: 26px;
    text-transform: uppercase;
  }
}

.active-link {
  text-decoration: underline;
  color: #FF6060;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
  height: 210px;
  background: #000;
}
footer img {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer p {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}
@media screen and (max-width: 769px) {
  footer img {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  footer p {
    font-size: 12px;
    margin-top: 0px;
    width: 130px;
    text-align: center;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  color: #FF6060;
  margin: 130px 0;
}
.error h1 {
  font-size: 290px;
  font-weight: 700;
  line-height: 300px;
}
.error p {
  font-size: 36px;
  text-align: center;
}
.error a {
  color: #FF6060;
  text-decoration: underline;
  font-size: 20px;
}
@media screen and (max-width: 769px) {
  .error {
    gap: 50px;
  }
  .error h1 {
    font-size: 90px;
    line-height: 90px;
  }
  .error p {
    font-size: 18px;
    margin: 0 50px;
  }
  .error a {
    font-size: 14px;
  }
}

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apropos-content {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .apropos-content {
    margin-top: 20px;
  }
}

h1 {
  color: #FF6060;
}

.location-panel {
  max-width: 1240px;
  margin: auto;
  color: #FF6060;
  display: flex;
  flex-direction: column;
}

.location-informations {
  display: flex;
  flex-direction: column;
  position: relative;
}

.location-header {
  order: 0;
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px;
}
.location-header h1 {
  font-size: 36px;
  margin-bottom: 5px;
  width: 80%;
}
.location-header p {
  font-size: 18px;
}
@media screen and (max-width: 769px) {
  .location-header {
    margin: 10px 0 10px;
  }
  .location-header h1 {
    font-size: 18px;
  }
  .location-header p {
    font-size: 14px;
  }
}

.tags-list {
  order: 1;
  display: flex;
  margin-bottom: 24px;
  gap: 10px;
  min-width: 335px;
}

.host-card {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 12%;
  right: 0;
}
.host-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.host-card .host-name {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: -moz-min-content;
  max-width: min-content;
  gap: 5px;
}
@media screen and (max-width: 769px) {
  .host-card {
    top: 80%;
  }
  .host-card span {
    font-size: 12px;
  }
  .host-card img {
    width: 32px;
    height: 32px;
  }
}

.ratings {
  position: absolute;
  top: 67%;
  right: 0%;
}
@media screen and (max-width: 769px) {
  .ratings {
    position: relative;
    order: 2;
  }
  .ratings > img {
    width: 20px;
  }
}

.location-details {
  display: flex;
  gap: 75px;
  margin-top: 24px;
}
@media screen and (max-width: 769px) {
  .location-details {
    flex-direction: column;
    gap: 0px;
  }
}/*# sourceMappingURL=style.css.map */