header {
    display: flex;
    max-width: 1240px;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto 0px;
}

nav a {
    font-size: 24px;
    font-weight: 500;
    color: $primary_color;
    margin-left : 60px;
    &:hover {
        text-decoration: underline;
        color: $primary_color;
    }
}