.banner {
    position: relative;
    max-width: 1240px;
    max-height: 225px;
    min-width: 340px;
    min-height: 115px;
    margin: 50px auto;
    border-radius: 25px;
    overflow: hidden;
    @include mobile {
        height: 115px;
        margin: 22px auto 0;
        border-radius: 10px;
    }
    img {
    width: 1240px;
    height: 225px;
    min-height: 115px;
    object-fit: cover;
    }
    &-filter {
        position: absolute;
        top: -1px;
        width: 1240px;
        height: 225px;
        border-radius: 25px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.35);
    }
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        width: 705px;
        font-size: 48px;
        z-index: 2;
    }
    @include mobile {
        display: flex;
        justify-content: center;
        border-radius: 10px;
        &-filter {
            border-radius: 10px;
        }
        p {
            font-size: 24px;
            margin-left: -35px;
            padding: 0;
            width: 225px;
        }
    }
}