.banner {
    position: relative;
    max-width: 1240px;
    max-height: 225px;
    margin: 50px auto;
    border-radius: 25px;
    overflow: hidden;
    img {
    width: 1240px;
    max-height: 225px;
    object-fit: cover;
    border-radius: 25px;
    }
    &-filter {
        position: absolute;
        top: -1px;
        left: 0;
        width: 1240px;
        height: 225px;
        object-fit: cover;
        border-radius: 25px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.35);
    }
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 20px 250px;
        font-size: 48px;
        z-index: 2;
    }
}

@include desktop {
    .banner {
        font-size: 12px;
    }
}