.collapse-element {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border-radius: 0 0 20px 20px;
    margin-bottom: 50px;  
}

.collapse-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    background-color: $primary_color;
    border-radius: 10px;
}

.collapse {
    &-Equipements {
        font-size: 18px;
        padding: 25px 15px 40px;
        line-height: 30px;
        list-style-type: none;
    }
    &-Description {
        font-size: 18px;
        padding: 25px 15px 40px;
        line-height: 30px;
    }
}